Package: hostapd-statistics
Architecture: all
Maintainer: Soeren Beye
Depends: socat, nmap, arp-scan, iw, inotify-tools, bash
Recommends: vnstati, sensors, mplayer, screen
Priority: optional
Version: 1.0
Description: This package provides statistics for Hostapd
